frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/package-lock.json

backend/target/
backend/build/

frontend/node_modules/
backend/node_modules/

frontend/npm-debug.log
frontend/yarn-error.log
backend/npm-debug.log
backend/yarn-error.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

frontend/.angular/cache

backend/.mvn/wrapper/maven-wrapper.jar

frontend/coverage/
backend/coverage/

.DS_Store
Thumbs.db

backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar